/* You can add global styles to this file, and also import other style files */
html,
body {
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.header{
	border-bottom: 1px solid #bcbcbc;
	height: 65px;
}
.sidebar{
	border-right: 1px solid #bcbcbc;
	padding-left: 10px;
	width: 150px;
	float: left;
	height: calc(100vh - 65px);
}
.content {
	float: left;
	width: calc(100% - 192px);
	height: 100%;
	padding: 15px;
}

.wrapper {
	height: calc(100vh - 65px);
}